
#  PostgreSQL OLTP ( 5432) 
OLTP_OWNER_USER=oltp
OLTP_OWNER_PASSWORD=oltp_dev
OLTP_RO_USER=oltp_ro
OLTP_RO_PASSWORD=oltp_ro_dev

#  PostgreSQL DWH (5433) 
DWH_OWNER_USER=dwh
DWH_OWNER_PASSWORD=dwh_dev
DWH_ETL_USER=u_etl
DWH_ETL_PASSWORD=u_etl_dev
DWH_API_USER=u_api
DWH_API_PASSWORD=u_api_dev

#  Grafana (3000) 
GRAFANA_ADMIN_PASSWORD=admin_dev
